footer {
  background-color: #607d8b;
  border-top: solid black 1px;
}

.footer-left {
  padding-left: 30px;
}

.footer-left p {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.footer-distributed p.footer-links {
  font-size:18px;
  font-weight: bold;
  color: #ffffff;
}

.footer-distributed p.footer-links a {
  display:inline-block;
  line-height: 2;
  text-decoration: none;
  padding-top: 10px;
  color: #ffffff
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 20px;
  max-width: 250px;
  padding-right: 30px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 7px;
}


@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }

  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px auto;
    padding-top: 20px;
  }

  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
