<footer id="footer" class="container footer-distributed">

  <div class="footer-right">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a href="/">Home</a>
      |
      <a href="/about">About</a>
      |
      <a href="/services">Services</a>
      |
      <a href="/contact">Contact</a>
    </p>

    <p>Joseph Lodge &copy; 2017</p>
  </div>

</footer>
