<div [ngStyle]="{'background-image': 'url(' + contactObj.background + ')'}">
  <div class="container">
    <div class="contact-left">
      <div id="form-sm" [hidden]="submitted">
        <h3>- Contact Form -</h3>
        <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
          <div class="form-group col-md-6 col-sm-12">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" required
                   [(ngModel)]="model.firstname" name="firstname" #firstname="ngModel" #spy>
            <div [hidden]="firstname.valid || firstname.pristine"
                 class="alert alert-danger">
              First Name is required
            </div>

          </div>

          <div class="form-group col-md-6 col-sm-12">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" required
                   [(ngModel)]="model.lastname" name="lastname" #lastname="ngModel">
            <div [hidden]="lastname.valid || lastname.pristine"
                 class="alert alert-danger">
              Last Name is required
            </div>
          </div>

          <div class="form-group pad-right col-sm-12">
            <label for="address">Address Line 1</label>
            <input type="text" class="form-control" id="address" required
                   [(ngModel)]="model.address" name="address" #address="ngModel">
            <div [hidden]="address.valid || address.pristine"
                 class="alert alert-danger">
              This field is required
            </div>
          </div>

          <div class="form-group pad-right col-sm-12">
            <label for="address2">Address Line 2</label>
            <input type="text" class="form-control" id="address2"
                   [(ngModel)]="model.address2" name="address2">
          </div>

          <div class="form-group col-md-6 col-sm-12">
            <label for="town">Town</label>
            <input type="text" class="form-control" id="town" required
                   [(ngModel)]="model.town" name="town" #town="ngModel">
            <div [hidden]="town.valid || town.pristine"
                 class="alert alert-danger">
              This field is required
            </div>
          </div>

          <div class="form-group col-md-6 col-sm-12">
            <label for="postcode">Post Code</label>
            <input type="text" class="form-control" id="postcode" required
                   [(ngModel)]="model.postcode" name="postcode" #postcode="ngModel">
            <div [hidden]="postcode.valid || postcode.pristine"
                 class="alert alert-danger">
              This field is required
            </div>
          </div>

          <div class="form-group pad-right col-sm-12">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" required
                   [(ngModel)]="model.phone" name="phone" #phone="ngModel">
            <div [hidden]="phone.valid || phone.pristine"
                 class="alert alert-danger">
              Phone number is required
            </div>
          </div>

          <div class="form-group pad-right col-sm-12">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" required
                   [(ngModel)]="model.email" name="email" #email="ngModel">
            <div [hidden]="email.valid || email.pristine"
                 class="alert alert-danger">
              Email is required
            </div>
          </div>

          <div class="form-group pad-right col-sm-12">
            <label for="brand">Phone Brand</label>
            <select class="from-control" id="brand" required
                    [(ngModel)]="model.phonebrand" name="brands">
              <option *ngFor="let brand of brands" [value]="brand">{{brand}}</option>
            </select>
          </div>

          <div class="form-group pad-right col-sm-12">
            <label for="message">Your Message</label>
            <input type="text" class="form-control" id="message" required
                   [(ngModel)]="model.message" name="message">
          </div>

          <button type="button" class="btn" id="btn-new" (click)="newContact()">New Contact</button>
          <button type="submit" class="btn btn-sub" [disabled]="!contactForm.form.valid">Submit</button>

        </form>

      </div>
      <div [hidden]="!submitted">
        <h3> Thank you for getting in touch!</h3>
        <p>One of our tecnitians will be in contact shortly to discuss your repair or if you requested just the screen
        it will be sent out with recordered dilivery and will be with you within 48h.</p>
        <div class="media-icons">
          <i class="fa fa-envelope fa-2x"></i>
          <i class="fa fa-envelope fa-2x"></i>
          <i class="fa fa-envelope fa-2x"></i>
        </div>
        <div class="edit">
          <button class="btn btn-sub" (click)="submitted=false">Edit</button>
        </div>
      </div>
    </div>

    <div class="contact-right">
      <h3>Need a new screen... We come to you</h3>
      <p>
        That's right we will come to your home or place of work an repair your broken smart phone screen right there and
        then. Just fill out the contact form and we will get back to you the same day to confirm repair!
      </p>

      <div class="map-card">
        <h3>Location</h3>
        <p>You can find use located on the map below</p>
        <app-map></app-map>
        <h4>Address</h4>
        <p>6 Carolan Ct, Golcar</p>
        <p>Huddersfield, HD7 4NA</p>
      </div>

      <h3>- Social Media -</h3>
      <div class="media-icons">
        <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
        <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
        <a href="#"><i class="fa fa-linkedin fa-3x"></i></a>
        <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
      </div>
    </div>
  </div>
</div>
