.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.container {
  margin-top: 75px;
  background-color: rgba(255, 255, 255, 0.4);
}

.contact-left {
  display: flex;
  width: 50%;
  float: left;
  align-items: center;
  justify-content: center;
}

.contact-left h3 {
  text-align: center;
  padding-bottom: 20px;
  margin: 20px 10px 15px 15px;
  border-bottom: solid 1px thistle;
}

#lastname,
#postcode {
  margin-left: 4px;
}

.contact-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: right;
  align-items: center;
  justify-content: center;
}

.contact-right p, h3 {
  padding: 0 30px 0 30px;
}

#form-sm button {
  margin: 10px 0 0 15px;
}

#btn-sub {
  background-color: thistle;
  border: solid 1px #607d8b;
  color: #607d8b;
}

#btn-new {
  background-color: #607d8b;
  border: solid 1px thistle;
  color: thistle;
}

.col-sm-6 {
  padding: 0 10px 0 0;
}

.pad-right {
  padding-right: 10px;
}

.media-icons {
  width: 100%;
  padding: 0 50px 0 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 50px 0;

}

.media-icons a {
  margin: 15px;
  color: #607d8b;
}

.media-icons a:hover {
  color: thistle;
}

.map-card {
  align-items: center;
  text-align: center;
  padding:0 10px 0 10px;
  border: solid white 2px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 5px #888888;
  border-radius: 2px;
  margin: 15px 0 15px 0;
}

@media screen and (max-width: 768px) {
  .contact-left {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #form-sm {
    width: 70%;
  }

  #lastname,
  #postcode {
    margin-left: 0;
  }

  .contact-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

