<div [ngStyle]="{'background-image': 'url(' + serviceObj.background + ')'}">
  <div class="container">
    <h3 id="top-con">- Apple -</h3>
    <div class="ph-flx-con">

      <a *ngFor="let phone of phones" routerLink="/detail/{{phone.id}}">
        <ng-container *ngIf="phone.name === 'iPhone'">
          <div class="module">
            <img [src]="phone.image">
            <div class="info-flex">
              <h4>{{phone.name}} {{phone.model}}</h4>
            </div>
          </div>
        </ng-container>
      </a>
    </div>

    <h3 class="con-space">- Samsung -</h3>
    <div class="ph-flx-con">

      <a *ngFor="let phone of phones" routerLink="/detail/{{phone.id}}">
        <ng-container *ngIf="phone.name === 'Samsung'">
          <div class="module">
            <img [src]="phone.image">
            <div class="info-flex">
              <h4>{{phone.name}} {{phone.model}}</h4>
            </div>
          </div>
        </ng-container>
      </a>
    </div>

    <h3 class="con-space">- Google -</h3>
    <div class="ph-flx-con">

      <a *ngFor="let phone of phones" routerLink="/detail/{{phone.id}}">
        <ng-container *ngIf="phone.name === 'Pixel'">
          <div class="module">
            <img [src]="phone.image">
            <div class="info-flex">
              <h4>{{phone.name}} {{phone.model}}</h4>
            </div>
          </div>
        </ng-container>
      </a>
    </div>

    <h3 class="con-space">- HTC -</h3>
    <div class="ph-flx-con" id="bottom-con">

      <a *ngFor="let phone of phones" routerLink="/detail/{{phone.id}}">
        <ng-container *ngIf="phone.name === 'HTC'">
          <div class="module">
            <img [src]="phone.image">
            <div class="info-flex">
              <h4>{{phone.name}} {{phone.model}}</h4>
            </div>
          </div>
        </ng-container>
      </a>
    </div>
  </div>
</div>
