h1 h2 h3 h4 h5 h6 {
  font-family: Lato, Arial, sans-serif;
}

.home-banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home-banner img {
  position: relative;
  width: 100%;
}
.home-search {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 10;
  text-align: center;
  border: solid white 1px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 10px 10px 5px #888888;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .home-banner {
    background-color: #d5deed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
  }

  .home-banner img {
    display: none;
  }

  .home-search {
    flex: auto;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 100px !important; /* makes sure that on smaller screen margin-top is 100px */
    margin-bottom: 100px;

  }
}

.home-search img {
  width: 100px;
  display: inline-block;
}

.home-search h2 {
  display: inline-block;
  padding-right: 20px;

}

.home-search form {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.home-search input {
  margin-top: 20px;
  padding-left: 10px;
  width: 100%;
  border-radius: 26px;
  flex-grow: 2;
}

.home-search button {
  margin-top: 20px;
  background: none;
  border: none;

}

.home-search h5 {
  padding-top: 20px;

}

.pop-repairs {
  z-index: 20;
  position: absolute;
  top:60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

@media screen and (max-width: 1205px) {
  .pop-repairs {
    position: relative;
  }
  .home-banner {
    height: 60vh;
  }
  .home-search {
    margin-top: 20px;
  }
}


