/* home background */

.home-banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home-banner img {
  position: relative;
  width: 100%;
}

/* home background END */

/* search box */

.home-search {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 10;
  text-align: center;
  border: solid white 1px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 10px 10px 5px #888888;
  border-radius: 2px;
}

.home-search img {
  width: 100px;
  display: inline-block;
}

.home-search h2 {
  display: inline-block;
  padding-right: 20px;

}

.home-search form {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.home-search input {
  margin-top: 20px;
  padding-left: 10px;
  width: 100%;
  border-radius: 26px;
  flex-grow: 2;
}

.home-search button {
  margin-top: 20px;
  background: none;
  border: none;

}

.home-search h5 {
  padding-top: 20px;

}

/* search box END */

/* popular repairs and search results */

.pop-repairs {
  z-index: 20;
  position: absolute;
  top:55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.phone-flx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.phone-flx a {
  height: 150px;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.phone-card h4 {
  position: relative;
  margin-left: 20px;
}

#mod {
  margin-top: -10px;
}

.phone-card {
  flex-grow: 1;
  margin:20px;
  padding: 20px;
  text-align: center;
  color: black;
  min-width:240px;
  height:120px;
  background-color: rgba(255, 255, 255, 0.6);
  border: solid white 1px;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 2px;
}
.phone-card:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

a {
  text-decoration: none;
}

.phone-card img {
  max-width: 100px;
  float: left;
  margin-top: -12px;
  box-shadow: 2px 2px 1px #888888;
  border-radius: 2px;
}

/* popular repairs and search results END */

/* media queries */

@media screen and (max-width: 768px) {
  .phone-flx {
    justify-content: space-around;
    flex-direction:column;
  }

  .phone-card {
    width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .home-banner {
    background-color: #d5deed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
  }

  .home-banner img {
    display: none;
  }

  .home-search {
    flex: auto;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 100px !important; /* makes sure that on smaller screen margin-top is 100px */
    margin-bottom: 100px;

  }
}

@media screen and (max-width: 1205px) {
  .pop-repairs {
    position: relative;
  }
  .home-banner {
    height: 60vh;
  }
  .home-search {
    margin-top: 20px;
  }
}

/* media queries END */

